<div class="col-md-2 sidebar">
    <h3 class="text-center py-3">Logo</h3>
    <a href="/admin/dashboard">Dashboard</a>   
    <a href="/admin/users">Customer Management</a>
    <a href="/admin/products">Products Management</a>
    <a href="/admin/categories">Category</a>
    <a href="/admin/brands">Brands</a>
    <a href="/admin/settings">Settings</a>
    <a href="/admin/logout">Logout</a>
  </div>