
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand me-auto" href="#">
            <img src="/logo/logo-black-bgRemoved.png" alt="CRUX" height="50">
        </a>

        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="index.html">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="men.html" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Men
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="product-detail.html">Product Detail</a></li>
                        <li><a class="dropdown-item" href="cart.html">Shopping Cart</a></li>
                        <li><a class="dropdown-item" href="checkout.html">Checkout</a></li>
                        <li><a class="dropdown-item" href="order-complete.html">Order Complete</a></li>
                        <li><a class="dropdown-item" href="add-to-wishlist.html">Wishlist</a></li>
                        <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="women.html">Women</a></li>
                <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>
        </div>

        <!-- Cart Icon -->
        <a class="nav-link text-white ms-auto" href="cart.html">
            <i class="icon-shopping-cart"></i> Cart [0]
        </a>
    </div>
</nav>

<!-- <div class="colorlib-loader"></div>

	<div id="page">	
		
		<nav class="colorlib-nav" role="navigation">
			<div class="top-menu " style="padding:0; background-color: rgb(88, 88, 88);">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><img src="/logo/logo-black-bgRemoved.png" alt="CRUX" height="50"></div>
						</div>
						<div class="col-sm-5 col-md-3">			            
			         </div>
		         </div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1 ">
							<ul>
								<li class="active"><a href="index.html">Home</a></li>
								<li class="has-dropdown">
									<a href="men.html">Men</a>
									<ul class="dropdown">
										<li><a href="product-detail.html">Product Detail</a></li>
										<li><a href="cart.html">Shopping Cart</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="order-complete.html">Order Complete</a></li>
										<li><a href="add-to-wishlist.html">Wishlist</a></li>
                                        <li><a href="/user/logout">Logout</a></li>
									</ul>
								</li>
								<li><a href="women.html">Women</a></li>
								<li><a href="about.html">About</a></li>
								<li><a href="contact.html">Contact</a></li>
								<li class="cart"><a href="cart.html"><i class="icon-shopping-cart"></i> Cart [0]</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>			
		</nav> -->